{% extends 'master/base.html' %}
{% block title %}后台管理{% endblock %}
{{% block content %}
    {% load static %}
    <script>
        function active(){
            document.form1.action="{% url 'master:activeallstudent' %}";
            document.form1.submit();
        }
        function forbid(){
            document.all.form1.action="{% url 'master:forbidallstudent' %}";
            document.all.form1.submit();
        }
        function checkAllaction(){
            for(var i=0;i<document.all.length;i++){
                {
                    if (document.all(i).type=="checkbox")
                    {
                        if(document.all(i).checked==true){
                            document.all(i).checked=false;
                            }
                        else{
                            document.all(i).checked=true;
                            }
                        }
                }
            }
        }
    </script>
    {% if message %}
    <script>
        alert("{{ message }}")
    </script>
    {% endif %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

        {% if student %}
        <div class="table-responsive">
            <h3>查询结果</h3>
            <form name="form1" method="post">
            {% csrf_token %}
            <h4><input type="submit" value="禁用选中用户" onclick="forbid()"/> <input type="button" value="激活选中用户" onclick="active()"/></h4>
            <table class="table table-striped">
              <thead>
                <tr>
                    <th><input style="width:50px;height:25px" type="button" onclick="checkAllaction()" value="全选"/></th>
                  <th>姓名</th>
                  <th>学号</th>
                  <th>年级</th>
                  <th>班级</th>
                  <th>专业</th>
                  <th>电话</th>
                    <th>账户状态</th>
                </tr>
              </thead>
              <tbody>
              {% if student%}
              {% for stu in student %}
                <tr>
                    <td> <input type="checkbox" value="{{ stu.stu_auth_num }}" name="forbidlist"/></td>
                    <td>{{ stu.stu_name }}</td>
                    <td>{{ stu.stu_auth_num }}</td>
                    <td>{{ stu.stu_grade }}</td>
                    <td>{{ stu.stu_class }}</td>
                    <td>{{ stu.stu_major }}</td>
                    <td>{{ stu.stu_phone }}</td>
                    {% if stu.is_active %}
                        <td>活动</td>
                        <td><a href="/master/forbidonestudent/{{ stu.stu_auth_num }}" target="_blank">禁用</a>
                    {% endif %}
                    {% if not stu.is_active %}
                        <td>禁用</td>
                        <td><a href="/master/activeonestudent/{{ stu.stu_auth_num }}/" target="_blank">激活</a>
                    {% endif %}
                    <td><a href="/master/editstuinfo/{{ stu.stu_auth_num }}" target="_blank">修改资料</a></td>

                </tr>
              {% endfor %}
              {% endif %}
               </tbody>
            </table>
            </form>
        </div>
    {% endif %}
            <h3 class="sub-header">单个查询</h3>
            <form action="{% url 'master:viewstuinfo' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="action" value="bynum"/>
                <label>学号:</label>
                <label>
                    <input type="text" name="stu_auth_num">
                </label>
                <input type="submit" value="查询">
            </form>
            <h3 class="sub-header">条件查询</h3>
            <form action="{% url 'master:viewstuinfo' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="action" value="bygrade"/>
                <label>年级:</label>
                <label>
                    <input type="text" name="stu_grade">
                </label>
                <input type="submit" value="查询">
            </form>
            <form action="{% url 'master:viewstuinfo' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="action" value="byclassormajor"/>
                <label>班号:</label>
                <label>
                    <input type="text" name="stu_class">
                </label>
                <label>专业:</label>
                <label>
                    <input type="text" name="stu_major">
                </label>
                <input type="submit" value="查询">
            </form>
    </div>
{% endblock %}